<!doctype html>
<html>
<head>
<<<<<<< HEAD
    <title>casino</title>
=======
    <title>The Bellagio</title>
>>>>>>> 82a7eb86e710f7a21b45b7597e42952f12d606c1
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>
<body>
  <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>

<<<<<<< HEAD
        <h1>Lets play Roulette!</h1>


        <form action="/" method="POST">
        <input type="text" placeholder="Name" name="gambler">
        <br><input type="text" placeholder="Amount Won" name="total" readonly >
      </form>

        <img src="img/roulette.png" alt="roulette table">


        <form>
          <button type="submit" id="black">Bet on black</button>
          <input id="bet"type="text" placeholder="Bet $$" name="bet">
          <button type="submit" id="red">Bet on red</button>
          <button id="green">Bet on green</button>
          <!-- <button type="submit">high</button>
          <button type="submit">low</button>
          <button type="submit">red high</button>
          <button type="submit">red low</button>
          <button type="submit">black high</button>
          <button type="submit">black low</button> -->
          <button type="submit">Bet on green</button>
        </form>



=======
        <h1>The Bellagio</h1>


        <h3 id="msg"></h3>
        <img src="img/roulette.png" alt="roulette table">


          <button type="submit" id="black">Bet on black</button>
          <input type="text" placeholder="Name" name="gambler" id="name" />
          <input id="bet"type="text" placeholder="Bet $$" name="bet">
          <button type="submit" id="red">Bet on red</button>
          <button id="green">Bet on green</button>



<script src="main.js"></script>
>>>>>>> 82a7eb86e710f7a21b45b7597e42952f12d606c1
</body>
</html>
