<!doctype html>
<html>
<head>
    <title>The Bellagio</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>

        <h1>The Bellagio</h1>


        <h3 id="msg"></h3>
        <img src="img/roulette.png" alt="roulette table">

        <form>
          <button type="submit" id="black">Bet on black</button>
          <input type="text" placeholder="Name" name="gambler" id="name" />
          <input id="bet"type="text" placeholder="Bet $$" name="bet">
          <button type="submit" id="red">Bet on red</button>
          <button id="green">Bet on green</button>
          <!-- <button type="submit">high</button>
          <button type="submit">low</button>
          <button type="submit">red high</button>
          <button type="submit">red low</button>
          <button type="submit">black high</button>
          <button type="submit">black low</button> -->
          <button type="submit">Bet on green</button>
        </form>

<script src="main.js"></script>
</body>
</html>
