<!doctype html>
<html>
<head>
    <title>The Bellagio</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Admin Login</a>

        <h1>The Bellagio</h1>


      <form action="/user" method="POST">
        <input type="text" placeholder="Name" name="gambler" />
        <br><input type="text" placeholder="Amount" name="total" />
        <button type="submit">Submit</button>
      </form>

        <img src="img/roulette.png" alt="roulette table">

</body>
</html>
